<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
<footer class="footer">
<div class="row-fluid">

<div class="span2">
<h5>Information</h5>
<a th:href="@{/contactUs}">CONTACT</a><br></br>
<a th:href="@{#}">SITEMAP</a><br></br>
<a th:href="@{#}">LEGAL NOTICE</a><br></br>
<a th:href="@{#}">TERMS AND CONDITIONS</a><br></br>
<a th:href="@{#}">ABOUT US</a><br></br>
 </div>
<div class="span2">
<h5>Our Offer</h5>
<a href="#">NEW PRODUCTS</a> <br></br>
<a href="#">TOP SELLERS</a><br></br>
<a href="#">SPECIALS</a><br></br>
<a href="#">MANUFACTURERS</a><br></br>
<a href="#">SUPPLIERS</a> <br/>
 </div>
 <div class="span6">
<h5>The standard chunk of Lorem</h5>
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
 those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et 
 Malorum" by Cicero are also reproduced in their exact original form, 
accompanied by English versions from the 1914 translation by H. Rackham.
 </div>
 </div>
</footer>

<div class="copyright">
<div class="container">
	<div class="pull-right socialNw">
					<a href="#"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-facebook"></span></a>
					<a href="#"><span class="icon-youtube"></span></a>
					<a href="#"><span class="icon-tumblr"></span></a>
				</div>
	<span>Copyright &copy; 2013<br></br> bootstrap ecommerce shopping template</span>
</div>
</div>
</div>
</html>